.navbarcuerpo{
    margin-top: 5vh;
    background-color: purple;
    width: 90vw;
    border-radius: 15px;
    
    /* display: grid;
    grid-template-columns: repeat(2, 1fr) 3fr;
    grid-template-rows: 1fr;
    grid-column-gap: 8px;
    grid-row-gap: 0px; */

    display: flex;
}

.titulo{
    display: inline-block;
    font-size: 50px;
    text-align: center;
    border: solid 2px pink;
}

.logo{
    width: 5vw;
    margin: 20px;
    border: solid 2px pink;
}
